	article:first-child header {
		margin-top: 0 !important;
	}

	article > header {
		background: var(--color-bg-0);
		color: var(--color-theme-1);
		padding: 1px 10px 1px 0;
		border-bottom: 1px solid grey;
	}

	h2 {
		margin-left: 20px;
		font-size: 1.3rem;
		text-transform: capitalize;
	}

	.source {
		font-size: 0.7rem;
	}

	a {
		color: var(--color-theme-1);
	}

	a:visited {
		color: #aaa;
	}

	article > div {
		margin: 20px;
	}

	.collapsed div {
		display: none;
	}